@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color:#c6d6d0;
}

header {
    background-color: #B4BEC9;
}

header h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color: #002333a8;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: 
    pointer;
}

#burguer:hover {
    background-color: #159A9C;
    color: black;
}

menu {
    display: none;
}

menu, ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #002333a8;
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: #159A9C;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}

article > h2 {
    padding-bottom: 20px;
    text-align: center;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}