@charset "utf-8"
* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body {
    background-image: linear-gradient(to right, #7EA3C8,
    #C7D5E2);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3241627e;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #0052C1;
    text-align: center;
    text-shadow: 2px 2px 3px #002a669f;
}
h2 {
    color: #324162;
    text-align: center;
    text-shadow: 2px 2px 3px #1d263a9c;
}
p {
    text-align: justify;
}